<section class="banner">
	<div class=" ">
		<!-- <div class="masked-image"></div> -->

		<div class="content">
			<div class="swiper mySwiper2">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div>
							<h1 class="title">
								Your Vision <span class="small-text">High Quality</span>
							</h1>
							<div class="title-box">
								<div class="title-area">
									<h2 class="title d-inline text-uppercase">Our</h2>
									<img
										class="star-icon"
										src="assets/images/icons/star-white.svg"
										alt="icon"
									/>
								</div>
								<p class="description">
									I craft websites that align with your brand and engage your
									audience - creating meaningful and memorable experiences
								</p>
							</div>
							<div class="email-box">
								<h2 class="title text-uppercase">Design</h2>
								<a href="mailto:info@workmail.com" class="email-text"
									>(info@workmail.com)</a
								>
							</div>
							<div class="slide-image-container">
								<div
									class="slide-image"
									style="
										background-image: url('assets/images/slider/slider-1.png');
									"
								></div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div>
							<h1 class="title">
								Your Vision <span class="small-text">High Quality</span>
							</h1>
							<div class="title-box">
								<div class="title-area">
									<h2 class="title d-inline text-uppercase">Our</h2>
									<img
										class="star-icon"
										src="assets/images/icons/star-white.svg"
										alt="icon"
									/>
								</div>
								<p class="description">
									I craft websites that align with your brand and engage your
									audience - creating meaningful and memorable experiences
								</p>
							</div>
							<div class="email-box">
								<h2 class="title text-uppercase">Design</h2>
								<a href="mailto:info@workmail.com" class="email-text"
									>(info@workmail.com)</a
								>
							</div>
							<div class="slide-image-container">
								<div
									class="slide-image"
									style="
										background-image: url('assets/images/slider/slider-2.png');
									"
								></div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div>
							<h1 class="title">
								Your Vision <span class="small-text">High Quality</span>
							</h1>
							<div class="title-box">
								<div class="title-area">
									<h2 class="title d-inline text-uppercase">Our</h2>
									<img
										class="star-icon"
										src="assets/images/icons/star-white.svg"
										alt="icon"
									/>
								</div>
								<p class="description">
									I craft websites that align with your brand and engage your
									audience - creating meaningful and memorable experiences
								</p>
							</div>
							<div class="email-box">
								<h2 class="title text-uppercase">Design</h2>
								<a href="mailto:info@workmail.com" class="email-text"
									>(info@workmail.com)</a
								>
							</div>
							<div class="slide-image-container">
								<div
									class="slide-image"
									style="
										background-image: url('assets/images/slider/slider-3.png');
									"
								></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div thumbsSlider="" class="swiper mySwiper tumb-images">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="assets/images/slider/slider-1.png" />
					</div>
					<div class="swiper-slide">
						<img src="assets/images/slider/slider-2.png" />
					</div>
					<div class="swiper-slide">
						<img src="assets/images/slider/slider-3.png" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- marque slider  -->
	<div class="header-mark-slide">
		<div class="text-container">
			<div class="animate-area">
				<p class="slide-text">Branding</p>
				<img class="star-icon" src="assets/images/icons/star.svg" alt="icon" />
				<p class="slide-text">UI/UX Design</p>
				<img class="star-icon" src="assets/images/icons/star.svg" alt="icon" />
				<p class="slide-text">Video Production</p>
			</div>
		</div>
	</div>
</section>
