<section class="banner">
	<div class=" ">
		<!-- <div class="masked-image"></div> -->

		<div class="content">
			<div class="swiper mySwiper2">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="banner-main">
							<h1 class="title text-start  wow animate__animated animate__fadeInUp">
								Your Vision <span class="small-text">High Quality</span>
							</h1>
							<div class="title-box mt-18  wow animate__animated animate__fadeInUp">
								<div class="title-area">
									<h2 class="title d-inline text-uppercase fz-210 text-mid">
										Our
									</h2>
									<img class="star-icon" src="assets/images/icons/star-white.svg" alt="icon">
								</div>
								<p class="description text-start">
									I craft websites that align with your brand and engage your
									audience - creating meaningful and memorable experiences
								</p>
							</div>
							<div class="email-box mt-45  wow animate__animated animate__fadeInUp">
								<h2 class="title text-uppercase fz-237">Design</h2>
								<a href="mailto:info@workmail.com" class="email-text">(info@workmail.com)</a>
							</div>
							<div class="slide-image-container  wow animate__animated animate__fadeInUp">
								<div class="slide-image" style="
										background-image: url('assets/images/slider/slider-1.png');
									"></div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="banner-main">
							<h1 class="title text-start">
								Your Vision <span class="small-text">High Quality</span>
							</h1>
							<div class="title-box mt-18">
								<div class="title-area">
									<h2 class="title d-inline text-uppercase fz-210 text-mid">
										Our
									</h2>
									<img class="star-icon" src="assets/images/icons/star-white.svg" alt="icon">
								</div>
								<p class="description text-start">
									I craft websites that align with your brand and engage your
									audience - creating meaningful and memorable experiences
								</p>
							</div>
							<div class="email-box mt-45">
								<h2 class="title text-uppercase fz-237">Design</h2>
								<a href="mailto:info@workmail.com" class="email-text">(info@workmail.com)</a>
							</div>
							<div class="slide-image-container">
								<div class="slide-image" style="
										background-image: url('assets/images/slider/slider-2.png');
									"></div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="banner-main">
							<h1 class="title text-start">
								Your Vision <span class="small-text">High Quality</span>
							</h1>
							<div class="title-box mt-18">
								<div class="title-area">
									<h2 class="title d-inline text-uppercase fz-210 text-mid">
										Our
									</h2>
									<img class="star-icon" src="assets/images/icons/star-white.svg" alt="icon">
								</div>
								<p class="description text-start">
									I craft websites that align with your brand and engage your
									audience - creating meaningful and memorable experiences
								</p>
							</div>
							<div class="email-box mt-45">
								<h2 class="title text-uppercase fz-237">Design</h2>
								<a href="mailto:info@workmail.com" class="email-text">(info@workmail.com)</a>
							</div>
							<div class="slide-image-container">
								<div class="slide-image" style="
										background-image: url('assets/images/slider/slider-3.png');
									"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper mySwiper tumb-images">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div>
							<p class="count-item">(01)</p>
							<img src="assets/images/slider/slider-1.png" alt="image">
						</div>
					</div>
					<div class="swiper-slide">
						<div>
							<p class="count-item">(02)</p>
							<img src="assets/images/slider/slider-2.png" alt="image">
						</div>
					</div>
					<div class="swiper-slide">
						<div>
							<p class="count-item">(03)</p>
							<img src="assets/images/slider/slider-3.png" alt="image">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- marque slider  -->
<div class="header-mark-slide">
	<div class="text-container">
		<div class="animate-area">
			<p class="slide-text">Branding</p>
			<img class="star-icon" src="assets/images/icons/star.svg" alt="icon">
			<p class="slide-text">UI/UX Design</p>
			<img class="star-icon" src="assets/images/icons/star.svg" alt="icon">
			<p class="slide-text">Video Production</p>
		</div>
	</div>
</div>