<footer class="footer">
	<div class="footer-top-area">
		<div class="footer-logo">
			<a href="index.html">
				<img src="assets/images/logo/logo.png" alt="logo">
			</a>
		</div>
		<div class="footer-pages">
			<div class="footer-page">
				<h3 class="footer-page-title">Company</h3>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Portfolio</a></li>
				</ul>
			</div>
			<div class="footer-page">
				<h3 class="footer-page-title">Pages</h3>
				<ul>
					<li><a href="#"> Work</a></li>
					<li><a href="#"> Agency</a></li>
					<li><a href="#"> Team</a></li>
					<li><a href="#"> Contact</a></li>
				</ul>
			</div>
			<div class="footer-page">
				<h3 class="footer-page-title">services</h3>
				<ul>
					<li><a href="#"> Team</a></li>
					<li><a href="#"> Clients</a></li>
					<li><a href="#"> Careers</a></li>
					<li><a href="#"> Project Index</a></li>
				</ul>
			</div>
		</div>
		<div class="footer-info">
			<p class="footer-info-text">Anton Agency Miami, USA Salt Lake, USA</p>
		</div>
	</div>

	<div class="footer-social">
		<ul>
			<li><a href="#">Instagram </a></li>
			<li><a href="#">Facebook </a></li>
			<li><a href="#">linkedin </a></li>
			<li><a href="#">Dribbble</a></li>
			<li><a href="#">Behance</a></li>
		</ul>
	</div>
</footer>