<section class="news">
	<h2 data-speed="0.95" class="section-title mb-5 pb-3">Our Latest News</h2>

	<div class="news-cards">
		<div style="background-image: url('/assets/images/news/news-1.png')" class="card-item" data-speed="1">
			<div class="badge-wrap">
				<p class="news-badge">Transport</p>
				<p class="news-date">
					<iconify-icon class="icon" icon="stash:data-date"></iconify-icon>
					<span class="date">April 26, 2024</span>
				</p>
			</div>
			<a class="news-link" href="#">Best packaging techniques damage free.</a>
		</div>
		<div style="background-image: url('/assets/images/news/news-2.png')" class="card-item" data-speed="0.9">
			<div class="badge-wrap">
				<p class="news-badge">Transport</p>
				<p class="news-date">
					<iconify-icon class="icon" icon="stash:data-date"></iconify-icon>
					<span class="date">April 26, 2024</span>
				</p>
			</div>
			<a class="news-link" href="#">Best packaging techniques damage free.</a>
		</div>
		<div style="background-image: url('/assets/images/news/news-3.png')" class="card-item" data-speed="1">
			<div class="badge-wrap">
				<p class="news-badge">Transport</p>
				<p class="news-date">
					<iconify-icon class="icon" icon="stash:data-date"></iconify-icon>
					<span class="date">April 26, 2024</span>
				</p>
			</div>
			<a class="news-link" href="#">Best packaging techniques damage free.</a>
		</div>
		<div style="background-image: url('/assets/images/news/news-4.png')" class="card-item" data-speed="0.9">
			<div class="badge-wrap">
				<p class="news-badge">Transport</p>
				<p class="news-date">
					<iconify-icon class="icon" icon="stash:data-date"></iconify-icon>
					<span class="date">April 26, 2024</span>
				</p>
			</div>
			<a class="news-link" href="#">Best packaging techniques damage free.</a>
		</div>
	</div>
</section>