<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Title -->
	<title>Html Task</title>
	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/logo/fav.png">
	<!-- Apple touch icon -->
	<link rel="apple-touch-icon" href="assets/images/logo/fav.png">
	<!-- swiper -->
	<link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
	<link rel="stylesheet" href="assets/css/animate.min.css">
	<link rel="stylesheet" href="assets/css/splitting.css">

	<!-- icon  -->
	<script src="assets/js/iconify-icon.min.js"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<!-- Main css -->
	<link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
	<!--==================== Preloader Start ====================-->
	<div id="loading">
		<div id="loading-center">
			<div id="loading-center-absolute">
				<span class="loader"></span>
			</div>
		</div>
	</div>
	<!--==================== Preloader End ====================-->