</div>
</div>
<!-- Jquery js -->
<script src="assets/js/jquery-3.7.1.min.js"></script>
<!-- Bootstrap Js -->
<script src="assets/js/bootstrap.bundle.min.js"></script>
<!-- swiper Js -->
<script src="assets/js/swiper-bundle.min.js"></script>

<script src="assets/js/gsap.min.js"></script>
<script src="assets/js/scroll-trigger.min.js"></script>
<script src="assets/js/scroll-to-plugin.min.js"></script>
<script src="assets/js/ScrollSmoother.min.js"></script>
<!-- <script src="assets/js/SplitText3.min.js"></script> -->
<script src="assets/js/SplitText.min.js"></script>
<!-- main js -->
<script src="assets/js/main.js"></script>

</body>

</html>