<section class="work" id="work">
	<!-- text 1  -->
	<div class="work-fs-1">
		<h1 class="work-title">Let's</h1>
		<img class="arrow-icon" src="assets/images/icons/arrow.svg" alt="icon">
	</div>

	<!-- text 2 -->
	<div class="work-fs-2">
		<img class="work-img" src="assets/images/work/work.png" alt="work">
		<h1 class="work-title split-stagger">work</h1>
	</div>

	<!-- text 3 -->
	<div class="work-fs-3">
		<h1 class="work-title">together</h1>
	</div>

	<!-- rounded section  -->
	<div class="work-fs-4">
		<div class="work-circle">
			<div class="circle">
				<div class="logo"></div>
				<div class="logo-bg"></div>
				<div class="bg"></div>
				<div id="text" class="text">
					<p>Let's Talks Let's Talks Let's Talks</p>
				</div>
			</div>
		</div>
		<a class="mailto" href="mailto:info@workmail.com">info@workmail.com</a>
	</div>
</section>