@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
    font-family: "Hagrid Extrabold";
  src: url("../fonts/Hagrid-Text-Extrabold-trial.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
    font-family: "Hagrid Extrabold Italic";
  src: url("../fonts/Hagrid-Text-Extrabold-Italic-trial.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
    font-family: "Hagrid Regular";
  src: url("../fonts/Hagrid-Regular-trial.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: "Bingar DEMO";
  src: url("../fonts/BingarDEMO-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: "Hagrid Italic";
  src: url("../fonts/Hagrid-Italic-trial.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
/* All Css Variables Start */
:root {
    --heading-font: "Marcellus", serif;
    --body-font: "Poppins", serif;
    --Roboto: "Roboto", serif;
    --Hagrid-font: "Hagrid Regular";
    --Bingar-DEMO: "Bingar DEMO";
    --Hagrid-Extrabold: "Hagrid Extrabold";
    --primary: #0c30ae;
    --secondary: #19ec60;
    --warn: #f7c600;
    --white: #ffffff;
    --black-full: #000;
    --black: #041c0c;
    --black2: #151c02;
    --black3: #030611;
    --black4: #1c2503;
    --blue-light: #adbcf0;
    --text-primary: #2b2c3f;
    --text-secondary: #393f44;
    --text-of-white: #7d7d7d;
    --gradient: linear-gradient(180deg, rgba(18, 16, 16, 0) 0%, #121010 100%);
    --radius: 35vmin;
    --frame-size: calc(var(--radius) / 3);
    --d-outer: calc(var(--radius) * 2);
    --d-inner: calc(var(--d-outer) - var(--frame-size));
    --font-size: calc(var(--radius) / 10);
}

html {
    font-size: 16px;
}

body {
    font-family: var(--body-font);
    font-style: normal;
    font-family: "Bingar DEMO", sans-serif;
    line-height: normal;
    overflow: hidden;
    overscroll-behavior: none;
    overflow-x: hidden;
}

p {
    margin-bottom: 0;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px hsl(var(--base)/0.2);
}

::-webkit-scrollbar-thumb {
    background: hsl(var(--base)/0.7);
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--base));
}

@media (max-width: 991px) {
    html {
        font-size: 14px;
    }
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ms-container {
    max-width: calc(100% - 200px);
    margin: 0 auto;
}

.text--primary {
    color: var(--primary);
}

.text--secondary {
    color: var(--text-secondary);
}

.text--white {
    color: var(--white);
}

.text--black {
    color: var(--black);
}

.text--of-white {
    color: var(--text-of-white);
}

.font--36 {
    font-size: 2.25rem;
}

@media (max-width: 768px) {
    .font--36 {
        font-size: 1.5rem;
    }
}

.font--14 {
    font-size: 0.875rem;
}

.font--16 {
    font-size: 1rem;
}

.font--18 {
    font-size: 1.125rem;
}

.fw--700 {
    font-weight: 700;
}

.fw--600 {
    font-weight: 600;
}

.fw--500 {
    font-weight: 500;
}

.fw--400 {
    font-weight: 400;
}

.fw--300 {
    font-weight: 300;
}

.mt-18 {
    margin-top: 18px;
}

.mt-45 {
    margin-top: 45px;
}

.banner {
    background: var(--primary);
    color: var(--white);
    overflow: clip;
}

.banner .banner-main {
    padding-top: 45px;
    width: calc(100% - 200px);
}

@media (max-width: 1200px) {
    .banner .banner-main {
        width: calc(100% - 150px);
    }
}

@media (max-width: 991px) {
    .banner .banner-main {
        width: calc(100% - 100px);
    }
}

@media (max-width: 768px) {
    .banner .banner-main {
        width: calc(100% - 50px);
    }
}

.banner .title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 415px;
}

@media screen and (max-width: 1775px) {
    .banner .title-box {
        margin-left: 300px;
        justify-content: space-around;
    }
}

@media screen and (max-width: 1500px) {
    .banner .title-box {
        margin-left: 165px;
    }
}

@media screen and (max-width: 1100px) {
    .banner .title-box {
        margin-left: 150px;
    }
}

@media screen and (max-width: 768px) {
    .banner .title-box {
        margin-left: 80px;
    }
}

@media screen and (max-width: 420px) {
    .banner .title-box {
        margin-left: 24px;
    }
}

@media screen and (max-width: 432px) {
    .banner .title-box {
        margin-left: 40px;
    }
}

@media screen and (max-width: 375px) {
    .banner .title-box {
        margin-left: 10px;
    }
}

.banner .title-box .description {
    max-width: 460px;
    color: var(--blue-light);
    leading-trim: both;
    text-edge: cap;
    font-family: var(--Bingar-DEMO);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: -100px;
    line-height: normal;
    padding-right: 30px;
}

@media screen and (max-width: 1420px) {
    .banner .title-box .description {
        margin-bottom: -40px;
        font-size: 24px;
    }
}

@media (max-width: 1200px) {
    .banner .title-box .description {
        max-width: 350px;
    }
}

@media screen and (max-width: 1100px) {
    .banner .title-box .description {
        max-width: 250px;
        font-size: 18px;
    }
}

@media screen and (max-width: 850px) {
    .banner .title-box .description {
        max-width: 200px;
        padding-right: 0;
    }
}

@media screen and (max-width: 500px) {
    .banner .title-box .description {
        max-width: 150px;
        font-size: 14px;
    }
}

@media screen and (max-width: 420px) {
    .banner .title-box .description {
        max-width: 170px;
        font-size: 16px;
    }
}

.banner .title-box .title-area {
    display: flex;
    align-items: center;
    gap: 40px;
}

@media screen and (max-width: 580px) {
    .banner .title-box .title-area {
        gap: 20px;
    }
}

@media screen and (max-width: 420px) {
    .banner .title-box .title-area {
        gap: 5px;
    }
}

.banner .title-box .star-icon {
    margin-bottom: -100px;
}

@media screen and (max-width: 1775px) {
    .banner .title-box .star-icon {
        margin-bottom: -70px;
        width: 130px;
    }
}

@media screen and (max-width: 1420px) {
    .banner .title-box .star-icon {
        margin-bottom: -45px;
        width: 90px;
    }
}

@media screen and (max-width: 1100px) {
    .banner .title-box .star-icon {
        margin-bottom: -30px;
        width: 60px;
    }
}

@media screen and (max-width: 580px) {
    .banner .title-box .star-icon {
        margin-bottom: -18px;
        width: 38px;
    }
}

@media screen and (max-width: 420px) {
    .banner .title-box .star-icon {
        margin-bottom: -5px;
        width: 24px;
    }
}

.banner .email-box {
    text-align: center;
    margin-left: 42%;
}

@media screen and (max-width: 1775px) {
    .banner .email-box {
        margin-left: 17%;
    }
}

.banner .email-box .email-text {
    color: var(--white);
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: var(--Bingar-DEMO);
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 50px;
    display: inline-block;
}

@media (max-width: 1200px) {
    .banner .email-box .email-text {
        font-size: 28px;
    }
}

@media (max-width: 991px) {
    .banner .email-box .email-text {
        font-size: 24px;
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .banner .email-box .email-text {
        font-size: 20px;
        margin-top: 20px;
    }
}

@media (max-width: 576px) {
    .banner .email-box .email-text {
        font-size: 16px;
    }
}

.banner .swiper-wrapper {
    padding-bottom: 390px;
}

@media screen and (max-width: 550px) {
    .banner .swiper-wrapper {
        padding-bottom: 175px;
    }
}

.banner .swiper-slide .slide-image-container .slide-image {
    max-width: 788px;
    max-height: 920px;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -88px;
    bottom: -390px;
    -webkit-mask-image: url("/assets/images/icons/image-musk.svg");
 /* For Webkit browsers */
    mask-image: url("/assets/images/icons/image-musk.svg");
 /* Standard property */
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-size: cover;
}

@media screen and (max-width: 1500px) {
    .banner .swiper-slide .slide-image-container .slide-image {
        max-width: 700px;
    }
}

@media (max-width: 1200px) {
    .banner .swiper-slide .slide-image-container .slide-image {
        max-width: 568px;
        bottom: -314px;
    }
}

@media screen and (max-width: 1100px) {
    .banner .swiper-slide .slide-image-container .slide-image {
        max-width: 455px;
    }
}

@media screen and (max-width: 910px) {
    .banner .swiper-slide .slide-image-container .slide-image {
        bottom: -241px;
    }
}

@media screen and (max-width: 550px) {
    .banner .swiper-slide .slide-image-container .slide-image {
        bottom: -180px;
    }
}

@media screen and (max-width: 420px) {
    .banner .swiper-slide .slide-image-container .slide-image {
        max-width: 320px;
    }
}

.banner .tumb-images {
    max-width: 582px;
    margin-left: auto;
    margin-right: 100px;
    position: absolute;
    right: 0;
    bottom: 65px;
}

@media screen and (max-width: 1420px) {
    .banner .tumb-images {
        margin-right: 25px;
    }
}

@media (max-width: 1200px) {
    .banner .tumb-images {
        bottom: 145px;
        max-width: 560px;
    }
}

@media screen and (max-width: 1100px) {
    .banner .tumb-images {
        max-width: 460px;
    }
}

@media screen and (max-width: 850px) {
    .banner .tumb-images {
        max-width: 368px;
    }
}

@media screen and (max-width: 768px) {
    .banner .tumb-images {
        max-width: 300px;
    }
}

@media screen and (max-width: 668px) {
    .banner .tumb-images {
        max-width: 250px;
    }
}

@media screen and (max-width: 630px) {
    .banner .tumb-images {
        max-width: 200px;
    }
}

@media screen and (max-width: 600px) {
    .banner .tumb-images {
        max-width: 150px;
    }
}

@media screen and (max-width: 580px) {
    .banner .tumb-images {
        max-width: 70px;
        bottom: 30px;
    }
}

.banner .tumb-images .swiper-wrapper {
    justify-content: end;
}

.banner .tumb-images .count-item {
    color: var(--white);
    leading-trim: both;
    text-edge: cap;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2.2px;
    text-transform: uppercase;
    text-align: start;
    margin-bottom: 18px;
}

@media screen and (max-width: 1420px) {
    .banner .tumb-images .count-item {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

.banner .tumb-images img {
    width: 180px;
    height: 175px;
    flex-shrink: 0;
    border-radius: 30px;
}

@media screen and (max-width: 1420px) {
    .banner .tumb-images img {
        width: 150px;
        height: 145px;
    }
}

@media (max-width: 1200px) {
    .banner .tumb-images img {
        width: 115px;
        height: 115px;
    }
}

@media (max-width: 768px) {
    .banner .tumb-images img {
        width: 80px;
        height: 80px;
        border-radius: 20px;
    }
}

@media screen and (max-width: 600px) {
    .banner .tumb-images img {
        width: 50px;
        height: 50px;
        border-radius: 15px;
    }
}

.title {
    color: var(--white);
    font-family: var(--Hagrid-Extrabold);
    font-size: 200px;
    font-style: normal;
    font-weight: 800;
    line-height: 1;
}

@media screen and (max-width: 1775px) {
    .title {
        font-size: 150px;
    }
}

@media screen and (max-width: 1420px) {
    .title {
        font-size: 100px;
    }
}

@media screen and (max-width: 1100px) {
    .title {
        font-size: 80px;
    }
}

@media screen and (max-width: 930px) {
    .title {
        font-size: 56px;
    }
}

@media screen and (max-width: 580px) {
    .title {
        font-size: 40px;
    }
}

@media screen and (max-width: 420px) {
    .title {
        font-size: 32px;
    }
}

@media screen and (max-width: 375px) {
    .title {
        font-size: 24px;
    }
}

.title .small-text {
    color: var(--white);
    leading-trim: both;
    text-edge: cap;
    font-family: var(--Bingar-DEMO);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

@media screen and (max-width: 1775px) {
    .title .small-text {
        font-size: 28px;
    }
}

@media (max-width: 1200px) {
    .title .small-text {
        font-size: 24px;
    }
}

@media screen and (max-width: 1100px) {
    .title .small-text {
        font-size: 20px;
    }
}

.title.fz-210 {
    font-size: 210px;
}

@media screen and (max-width: 1775px) {
    .title.fz-210 {
        font-size: 155px;
    }
}

@media screen and (max-width: 1420px) {
    .title.fz-210 {
        font-size: 110px;
    }
}

@media screen and (max-width: 1100px) {
    .title.fz-210 {
        font-size: 90px;
    }
}

@media screen and (max-width: 930px) {
    .title.fz-210 {
        font-size: 50px;
    }
}

@media screen and (max-width: 580px) {
    .title.fz-210 {
        font-size: 45px;
    }
}

@media screen and (max-width: 420px) {
    .title.fz-210 {
        font-size: 35px;
    }
}

@media screen and (max-width: 375px) {
    .title.fz-210 {
        font-size: 26px;
    }
}

.title.fz-237 {
    font-size: 237px;
}

@media screen and (max-width: 1775px) {
    .title.fz-237 {
        font-size: 160px;
    }
}

@media screen and (max-width: 1420px) {
    .title.fz-237 {
        font-size: 126px;
    }
}

@media screen and (max-width: 1100px) {
    .title.fz-237 {
        font-size: 110px;
    }
}

@media screen and (max-width: 930px) {
    .title.fz-237 {
        font-size: 65px;
    }
}

@media screen and (max-width: 580px) {
    .title.fz-237 {
        font-size: 45px;
    }
}

@media screen and (max-width: 375px) {
    .title.fz-237 {
        font-size: 35px;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news {
    width: calc(100% - 180px);
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 115px;
    padding-bottom: 150px;
    min-height: 900px;
}

@media screen and (max-width: 768px) {
    .news {
        width: calc(100% - 30px);
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.news .section-title {
    color: var(--black3);
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Roboto;
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media screen and (max-width: 768px) {
    .news .section-title {
        font-size: 60px;
    }
}

@media screen and (max-width: 420px) {
    .news .section-title {
        font-size: 40px;
    }
}

.news-badge {
    width: max-content;
    flex-shrink: 0;
    border-radius: 100px;
    background: var(--warn);
    color: var(--black3);
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: var(--Roboto);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 4px 10px;
    display: inline-flex;
}

.news-date {
    display: flex;
    align-items: center;
    gap: 4px;
}

.news-date .icon {
    color: var(--white);
    font-size: 15px;
}

.news-date .date {
    color: var(--white);
    leading-trim: both;
    text-edge: cap;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.news-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    row-gap: 50px;
}

@media screen and (max-width: 1400px) {
    .news-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .news-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 565px) {
    .news-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

.news-cards .card-item {
    height: 550px;
    flex-shrink: 0;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
    padding: 50px 37px;
    position: relative;
}

.news-cards .card-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: var(--gradient);
    z-index: 0;
    transition: 0.3s;
}

.news-cards .card-item .badge-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    z-index: 1;
}

.news-cards .card-item .news-link {
    color: var(--white);
    text-align: center;
    leading-trim: both;
    text-edge: cap;
  /* h5 */
    font-family: var(--Roboto);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    display: block;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 1850px) {
    .news-cards .card-item .news-link {
        font-size: 24px;
    }
}

.news-cards .card-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: transparent;
    z-index: 0;
    transition: 0.3s;
}

.news-cards .card-item:hover::before {
    display: none;
}

.news-cards .card-item:hover::after {
    background: var(--black-full);
    height: 206px;
}

.SliderAnimations {
    height: 120px;
    background: var(--secondary);
}

.SliderAnimations .swiper-wrappers {
    height: 100%;
}

#loading {
    background-color: var(--white);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999;
    margin-top: 0px;
    top: 0px;
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -75px;
    margin-left: -75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    font-size: 48px;
    color: var(--black-full);
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
}

.loader:before {
    content: "";
    animation: 5s print linear alternate infinite;
}

.loader:after {
    content: "";
    position: absolute;
    right: -4px;
    top: 50%;
    transform: translatey(-45%);
    width: 2px;
    height: 1.3em;
    background: currentColor;
    opacity: 0.8;
    animation: 1s blink steps(2) infinite;
}

@keyframes blink {
    0% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

@keyframes print {
    0% {
        content: "L";
    }

    10% {
        content: "Lo";
    }

    20% {
        content: "Loa";
    }

    30% {
        content: "Load";
    }

    40% {
        content: "Loadi";
    }

    50% {
        content: "Loadin";
    }

    60% {
        content: "Loading";
    }

    70% {
        content: "Loading.";
    }

    80% {
        content: "Loading..";
    }

    90%, 100% {
        content: "Loading...";
    }
}

.work {
    background: var(--secondary);
    padding-bottom: 170px;
    overflow: hidden;
}

@media screen and (max-width: 950px) {
    .work {
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 650px) {
    .work {
        padding-bottom: 50px;
    }
}

.work .work-title {
    color: var(--black);
    leading-trim: both;
    text-edge: cap;
    font-family: var(--Hagrid-Extrabold);
    font-style: normal;
    font-weight: 800;
    line-height: 200px;
 /* 105.263% */
    text-transform: uppercase;
}

.work .work-fs-1 {
    margin-left: 224px;
    display: flex;
    align-items: center;
    gap: 50px;
    padding-top: 135px;
}

@media screen and (max-width: 1600px) {
    .work .work-fs-1 {
        margin-left: 80px;
        padding-top: 100px;
    }
}

@media screen and (max-width: 1100px) {
    .work .work-fs-1 {
        margin-left: 30px;
    }
}

@media screen and (max-width: 950px) {
    .work .work-fs-1 {
        margin-left: 20px;
        padding-top: 50px;
        gap: 30px;
    }
}

@media screen and (max-width: 650px) {
    .work .work-fs-1 {
        margin-left: 10px;
        padding-top: 20px;
        gap: 20px;
    }
}

.work .work-fs-1 .work-title {
    font-size: 190px;
}

@media screen and (max-width: 1100px) {
    .work .work-fs-1 .work-title {
        font-size: 150px;
    }
}

@media screen and (max-width: 950px) {
    .work .work-fs-1 .work-title {
        font-size: 100px;
    }
}

@media screen and (max-width: 650px) {
    .work .work-fs-1 .work-title {
        font-size: 60px;
    }
}

.work .work-fs-1 .arrow-icon {
    margin-top: 50px;
}

@media screen and (max-width: 1100px) {
    .work .work-fs-1 .arrow-icon {
        margin-top: 30px;
        width: 150px;
    }
}

@media screen and (max-width: 650px) {
    .work .work-fs-1 .arrow-icon {
        width: 100px;
        margin-top: 20px;
    }
}

.work .work-fs-2 {
    margin-left: 322px;
    display: flex;
    align-items: center;
    gap: 50px;
    padding-top: 10px;
}

@media screen and (max-width: 1600px) {
    .work .work-fs-2 {
        margin-left: 122px;
    }
}

@media screen and (max-width: 950px) {
    .work .work-fs-2 {
        margin-left: 60px;
        gap: 30px;
    }
}

.work .work-fs-2 .work-img {
    width: 343px;
    height: 237px;
    border-radius: 0px 118.5px 118.5px 82px;
    margin-top: 50px;
}

@media screen and (max-width: 1400px) {
    .work .work-fs-2 .work-img {
        width: 243px;
        height: 167px;
    }
}

@media screen and (max-width: 950px) {
    .work .work-fs-2 .work-img {
        width: 143px;
        height: 97px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 650px) {
    .work .work-fs-2 .work-img {
        width: 93px;
        height: 63px;
        margin-top: -44px;
    }
}

.work .work-fs-2 .work-title {
    font-size: 310px;
    margin-top: -68px;
}

@media screen and (max-width: 1850px) {
    .work .work-fs-2 .work-title {
        font-size: 250px;
    }
}

@media screen and (max-width: 1400px) {
    .work .work-fs-2 .work-title {
        font-size: 200px;
    }
}

@media screen and (max-width: 1100px) {
    .work .work-fs-2 .work-title {
        font-size: 150px;
    }
}

@media screen and (max-width: 950px) {
    .work .work-fs-2 .work-title {
        font-size: 110px;
    }
}

@media screen and (max-width: 650px) {
    .work .work-fs-2 .work-title {
        font-size: 70px;
    }
}

@media screen and (max-width: 450px) {
    .work .work-fs-2 .work-title {
        font-size: 50px;
        line-height: 2;
    }
}

.work .work-fs-3 {
    padding-top: 20px;
    margin-left: 148px;
}

@media screen and (max-width: 1400px) {
    .work .work-fs-3 {
        margin-left: 48px;
    }
}

@media screen and (max-width: 950px) {
    .work .work-fs-3 {
        padding-top: 0px;
    }
}

.work .work-fs-3 .work-title {
    font-size: 220px;
}

@media screen and (max-width: 1400px) {
    .work .work-fs-3 .work-title {
        font-size: 180px;
    }
}

@media screen and (max-width: 1100px) {
    .work .work-fs-3 .work-title {
        font-size: 120px;
    }
}

@media screen and (max-width: 950px) {
    .work .work-fs-3 .work-title {
        font-size: 90px;
        line-height: 1;
    }
}

@media screen and (max-width: 650px) {
    .work .work-fs-3 .work-title {
        font-size: 60px;
    }
}

@media screen and (max-width: 450px) {
    .work .work-fs-3 .work-title {
        font-size: 40px;
    }
}

.work .work-fs-4 {
    display: flex;
    align-items: center;
    gap: 54px;
    margin-left: 42%;
    margin-top: -60px;
}

@media screen and (max-width: 1750px) {
    .work .work-fs-4 {
        margin-left: 17%;
    }
}

@media screen and (max-width: 1400px) {
    .work .work-fs-4 {
        margin-left: 5%;
    }
}

@media screen and (max-width: 950px) {
    .work .work-fs-4 {
        gap: 30px;
        flex-direction: column;
        margin-left: 0;
        margin-top: 20px;
    }
}

.work .work-fs-4 .circle {
    position: relative;
    width: 376px;
    height: 376px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work .work-fs-4 .bg {
    position: absolute;
    width: 376px;
    height: 376px;
    background: var(--white);
    background-size: cover;
    border-radius: 50%;
    border: 1px solid var(--black);
}

.work .work-fs-4 .logo {
    position: absolute;
    width: 376px;
    height: 376px;
    background: url("../images/icons/hand.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 110.178px;
    height: 104.869px;
    z-index: 2;
    animation: none;
}

.work .work-fs-4 .work-circle:hover .logo {
    animation: handshake 0.8s ease-in-out infinite;
}

.work .work-fs-4 .logo-bg {
    background: var(--black-full);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 208px;
    height: 208px;
    border-radius: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.work .work-fs-4 .text {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotateText 10s linear infinite;
}

.work .work-fs-4 .text p {
    position: absolute;
    left: 50%;
    top: 6%;
}

.work .work-fs-4 .mailto {
    color: var(--black4);
    leading-trim: both;
    text-edge: cap;
    font-family: var(--Bingar-DEMO);
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
 /* 128.571% */
}

@media screen and (max-width: 1100px) {
    .work .work-fs-4 .mailto {
        font-size: 50px;
    }
}

@keyframes handshake {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    40% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-5deg);
    }

    80% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes rotateText {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.work .work-fs-4 .text p span {
    position: absolute;
    left: 50%;
    font-size: 26px;
    transform-origin: 0 167px;
    text-transform: capitalize;
}

.footer {
    background: var(--black2);
    color: var(--white);
    padding: 112px 90px 70px 90px;
}

@media screen and (max-width: 1800px) {
    .footer {
        padding: 100px 70px 60px 70px;
    }
}

@media screen and (max-width: 1400px) {
    .footer {
        padding: 90px 50px 50px 50px;
    }
}

@media screen and (max-width: 1100px) {
    .footer {
        padding: 80px 30px 40px 30px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 70px 20px 30px 20px;
    }
}

@media screen and (max-width: 420px) {
    .footer {
        padding: 50px 10px 20px 10px;
    }
}

.footer-social ul {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

@media screen and (max-width: 1300px) {
    .footer-social ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}

.footer-social ul li a {
    color: var(--white);
    leading-trim: both;
    text-edge: cap;
    font-family: var(--Bingar-DEMO);
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
 /* 60% */
    text-transform: uppercase;
    border-radius: 100px;
    border: 1px solid var(--white);
    display: inline-flex;
    padding: 50px 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
}

.footer-social ul li a:hover {
    background: var(--white);
    color: var(--black2);
}

@media screen and (max-width: 1800px) {
    .footer-social ul li a {
        font-size: 50px;
        padding: 40px 50px;
    }
}

@media screen and (max-width: 1400px) {
    .footer-social ul li a {
        font-size: 40px;
        padding: 30px 40px;
    }
}

@media screen and (max-width: 650px) {
    .footer-social ul li a {
        font-size: 18px;
        padding: 10px 20px;
    }
}

.footer-top-area {
    border-bottom: 3px solid var(--white);
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

@media screen and (max-width: 1300px) {
    .footer-top-area {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 950px) {
    .footer-top-area {
        gap: 10px;
    }
}

.footer-top-area .footer-logo {
    grid-column: span 2;
    border-right: 3px solid var(--white);
}

@media screen and (max-width: 650px) {
    .footer-top-area .footer-logo {
        grid-column: span 3;
    }
}

.footer-top-area .footer-pages {
    border-right: 3px solid var(--white);
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
    grid-column: span 7;
    padding-left: 50px;
    padding-right: 50px;
    gap: 10px;
}

@media screen and (max-width: 1300px) {
    .footer-top-area .footer-pages {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 950px) {
    .footer-top-area .footer-pages {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 60px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 650px) {
    .footer-top-area .footer-pages {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 30px;
        grid-column: span 5;
    }
}

.footer-top-area .footer-pages .footer-page-title {
    color: var(--white);
    leading-trim: both;
    text-edge: cap;
    font-family: "Hagrid Extrabold";
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
 /* 171.429% */
    text-transform: uppercase;
}

@media screen and (max-width: 1320px) {
    .footer-top-area .footer-pages .footer-page-title {
        font-size: 24px;
    }
}

.footer-top-area .footer-pages .footer-page ul li a {
    color: var(--white);
    leading-trim: both;
    text-edge: cap;
    font-family: var(--Bingar-DEMO);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
 /* 140% */
    transition: all 0.3s ease;
}

.footer-top-area .footer-pages .footer-page ul li a:hover {
    margin-left: 10px;
}

.footer-top-area .footer-info {
    grid-column: span 3;
}

@media screen and (max-width: 650px) {
    .footer-top-area .footer-info {
        grid-column: span 4;
    }
}

.footer-top-area .footer-info-text {
    color: var(--white);
    max-width: 324px;
    margin-left: auto;
    leading-trim: both;
    text-edge: cap;
    font-family: var(--Hagrid-Extrabold);
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 45px;
 /* 128.571% */
    text-transform: uppercase;
}

@media screen and (max-width: 1320px) {
    .footer-top-area .footer-info-text {
        font-size: 24px;
    }
}

@media screen and (max-width: 650px) {
    .footer-top-area .footer-info-text {
        font-size: 16px;
    }
}

.header {
    background: var(--primary);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    background: var(--white);
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 1500px) {
    .header::before {
        width: 100%;
    }
}

.header-logo {
    border-right: 2px solid var(--white);
    padding: 1.8125rem 3.125rem;
}

@media (max-width: 850px) {
    .header-logo {
        padding: 0.9375rem 1.25rem;
    }
}

.header-action {
    display: flex;
    align-items: center;
    gap: 3.3125rem;
    padding-right: 3.125rem;
}

@media (max-width: 850px) {
    .header-action {
        padding-right: 1.25rem;
        gap: 1.875rem;
    }
}

.header-action .cart {
    margin-bottom: 2px;
    display: inline-block;
}

.header-action .hamburger {
    top: 4px;
    width: 85px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

@media (max-width: 850px) {
    .header-action .hamburger {
        width: 50px;
    }
}

.header-action .hamburger::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--white);
    left: 0;
    top: -20px;
}

.header-action .hamburger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--white);
    left: 0;
}

.header-mark-slide {
    position: absolute;
    right: -334px;
    top: 152px;
    background: var(--secondary);
    transform: rotate(45deg);
}

@media screen and (max-width: 1500px) {
    .header-mark-slide {
        display: none;
    }
}

.header-mark-slide .text-container {
    padding-left: 20px;
    padding-right: 20px;
    height: 120px;
    flex-shrink: 0;
}

.header-mark-slide .animate-area {
    flex-wrap: nowrap;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    height: 100%;
    animation: marquee 20s linear infinite;
}

.header-mark-slide .slide-text {
    color: #041c0c;
    leading-trim: both;
    text-edge: cap;
    font-family: var(--Bingar-DEMO);
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.header-mark-slide .star-icon {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}
/*# sourceMappingURL=main.css.map */
